<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'veterinarios')}">
<head>
<meta charset="UTF-8">
<title>Lista de veterinarios</title>
</head>
<body>
	<h1 th:text="'Lista de veterinarios'"></h1>
	
	<table id="veterinarios" class="table table-striped">
		<thead>
			<tr>
				<th style="width: 100px;">ID</th>
				<th style="width: 150px;">NOMBRE</th>
				<th style="width: 150px;">APELLIDO</th>
			</tr>
		</thead>
		
		<tbody>
		<tr th:each="veterinario : ${veterinarios}">
			<td th:text="${veterinario?.id}"></td>
			<td th:text="${veterinario?.nombre}"></td>
			<td th:text="${veterinario?.apellido}"></td>
		</tr>		
		</tbody>
		
	</table>
	
</body>
</html>